node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
Dockerfile
.dockerignore
docker-compose.yml
.editorconfig
.phpunit.result.cache
phpunit.xml
tests/
storage/app/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/